* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav */
nav {
  height: 100px;
  background-color: #2C3E50;
  color: white;
  font-size: 18px;
}

nav [class*="col-"] li {
  display: inline-block;
}


/* header */
header {
  height: 500px;
  background-color: #1ABC9C;
  color: white;
}

.centered-text {
  text-align: center;
}

header img {
  height: 250px;
}


/* portfolio */
.portfolio {
  height: 650px;
  background-color: white;
  color: black;
}

.portfolio img {
  height: 150px;
}



/* about */
.about {
  height: 500px;
  background-color: #1ABC9C;
  color: white;
}

.h-nested {
  height: 400px;
}


/* contact */
.contact {
  height: 500px;
  background-color: white;
  color: black;
}


/* footer */
footer {
  height: 300px;
  background-color: #2C3E50;
  color: white;
}



/* debug colonne */
[class*="col-"] {
  border: 2px solid violet;
}

nav [class*="col-"] {
  height: 100px;
}

header [class*="col-"] {
  height: 500px;
}

.portfolio [class*="col-"] {
  height: 650px;
}
.about > [class*="col-"] {
  height: 500px;
}
.contact [class*="col-"] {
  height: 500px;
}

footer [class*="col-"] {
  height: 300px;
}
