* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
/* .h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-800 {
  height: 800px;
} */

.h-600 {
  height: 600px;
}

/* .debug [class*="col-"] {
  border: 2px solid violet;
} */

/* generali */
.v-padding {
  padding: 80px 0;
}

.separator {
  height: 30px;
}
.separator > div {
  display: inline-block;
}
.separator_white {
  border: 2px solid white;
  width: 100px;
}
.separator_blue {
  border: 2px solid #2C3E50;
  width: 100px;
}


html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/* nav */
.bg-nav {
  background-color: #2C3E50;
  position: relative;
}

nav [class*="col-"] li {
  display: inline-block;
}

nav > [class*="col-"] {
  line-height: 100px;
  color: white;
}

header nav [class*="col-"] h2 {
  vertical-align: middle;
  display: inline;
}

header nav ul li {
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-hero {
  background-color: #1ABC9C;
}

.bg-hero .container .row > [class*="col-"] {
  color: white;
}

.ms_button {
  display: inline;
  vertical-align: middle;
}

/* header */

header img {
  height: 250px;
  margin-bottom: 30px;
}

header h3 {
  margin-top: 30px;
}


.glyphicon-star {
  font-size: 28px;
  margin: 0 10px;
}

/* portfolio */

#portfolio {
  color: #2C3E50;
}

#portfolio img {
  width: 100%;
  border-radius: 5%;
  margin: 20px 0;
  padding: 0 5px;
}

#portfolio .separator {
  margin-bottom: 20px;
}

/* about */
#about {
  background-color: #1ABC9C;
  color: white;
}

#about p,
#about .download-button {
  font-size: 1.5rem;
}
#about p {
  margin-bottom: 80px;
}

.l-padding {
  padding-left: 150px;
}
.r-padding {
  padding-right: 150px;
}

#about .separator {
  margin-bottom: 40px;
}

.download-button {
  color: white;
  border: 2px solid white;
  border-radius: 5%;
  background-color: #1ABC9C;
  padding: 10px;
}


/* contact */
#contact {
  background-color: white;
  color: #2C3E50;
}

#contact .form-group input,
#contact .form-group textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
}

#contact h1 {
  margin-bottom: 40px;
}
#contact .separator {
  margin-bottom: 40px;
}
#contact .form-group {
  margin-bottom: 40px;
}

/* footer */
footer {
  background-color: #2C3E50;
  color: white;
}

footer h3 {
  margin-bottom: 40px;
}

.social-icons {
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icons i {
  font-size: 28px;
}

footer > [class*="col-"] > a {
  color: #1ABC9C;
}

@media screen and (max-width:991px) {
  .l-padding {
    padding: 0px;
  }
  .r-padding {
    padding: 0px;
  }
}
